# SPDX-License-Identifier: GPL-3.0-or-later
# Python packages for CI (golden harness, NumPy reference, parity/notice generators, Qt download).
# Pinned for reproducibility; dependabot proposes bumps except for aqtinstall (Qt stays by hand).
numpy==2.2.6
pillow==11.3.0
pyyaml==6.0.3
aqtinstall==3.3.0
